# HASSIO configuration files
known_devices.yaml
secrets.yaml
plex.conf

# Data Mappings
CONFIG.md

# Logs
*.log

# Databases
*.db
*.db-shm
*.db-wal

# Folders
tts
deps
www/lovelace

# Hidden files and folders
.storage
.cloud
.Trash-0
.google.token

# Pickled files
*.pickle
